.header {
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;

  img {
    width: 100px;
    height: 10%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    .txt {
      display: flex;
      justify-content: space-around;
      gap: 50px;

      a {
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 100;
      }
    }

    @media screen and (max-width: 552px) {
      .txt {
        display: none;
      }
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      background-color: blueviolet;
      border-radius: 50%;
      /* border-radius: 50%; */

      img {
        width: 48px;
        height: 48px;
      }
    }

    .line-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      .line {
        background-color: black;
        border-radius: 5px;
        height: 3px;
        width: 30px;
      }
    }

    @media screen and (min-width: 552px) {
      .line-container {
        display: none;
      }
    }
  }

  @media screen and (max-width: 552px) {
    .content {
      gap: 15px;
    }
  }
}
